<h1 class="welcome">Products Available from your Online Store</h1>
<div class="container">
  <div class="row">
		<div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <%= image_tag("apple.jpg", class: "img-responsive") %>
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">First Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <%= image_tag("apple.jpg", class: "img-responsive") %>
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Second Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <%= image_tag("apple.jpg", class: "img-responsive") %>
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Third Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <%= image_tag("apple.jpg", class: "img-responsive") %>
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Fourth Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <%= image_tag("apple.jpg", class: "img-responsive") %>
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Fifth Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

	  	  <div class="col-sm-4 col-lg-4 col-md-4">
    	<div class="thumbnail">
        <%= image_tag("apple.jpg", class: "img-responsive") %>
        <div class="caption">
          <h4 class="pull-right">$74.99</h4>
          <h4><a href="#">Sixth Product</a>
          </h4>
          <p>This is a short description. Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
        </div>
        <div class="ratings">
          <p class="pull-right">31 reviews</p>
          <p>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star"></span>
            <span class="glyphicon glyphicon-star-empty"></span>
	      </div> <!-- /.ratings -->
	    </div> <!-- /.thumbnail -->
	  </div> <!-- /.col -->

  </div> <!-- /.row -->
</div> <!-- /.container -->